<%- include("partials/header"); %>

<h3>Detailed Logs</h3>
<h5>Filter By</h5>
<form action="/tab/logs/filter?filterBy=date" method="POST">
  From Date: <input type="date" name="startDate" required>
  End Date: <input type="date" name="endDate" required>
  <button type="submit">Filter</button>
</form>
<form action="/tab/logs/filter?filterBy=category"></form>
<a href="/tab/logs">Remove Filters</a>
<h5>Savings</h5>
Savings -> <%= savings %>
<hr>
<h5>Income</h5>

<!-- <div>
  Category - <span>Food</span><br>
  Amount - <span>12000</span><br>
  Date - <span>22/11//100</span>
</div>
<hr> -->

<% if(sources.length > 0){ %>
<% sources.forEach((source)=>{ %>
<div>
  Source: <%= source.source %><br>
  Amount: <%= source.amount %><br>
  Date: <%= source.date.toString().split(" ").splice(1,3).join(" ") %>
</div>
<hr>
<% })%>
<% } %>

<h5>Expense</h5>
<!-- <div>
  Category - <span>Food</span><br>
  Amount - <span>12000</span><br>
  Date - <span>22/11//100</span>
</div>
<hr> -->
<% if(expenses.length > 0){ %>
<% expenses.forEach((expense)=>{ %>
<div>
  Expense: <%= expense.expense %><br>
  Amount: <%= expense.amount %><br>
  Date: <%= expense.date.toString().split(" ").splice(1,3).join(" ") %>
</div>
<hr>
<% })%>
<% } %>
<a href="/logout">logout</a>
</body>

</html>